:root {
  --red: #b7272e;
  --body: #4d5156;
  --grey-dash: #b2b3b4;
  --page-width-lg: 900px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--body);
  background-color: var(--red);
  min-height: calc(100vh - 2 * 4vw);
  padding: 3rem 2rem;
}

main {
  border-radius: 2rem;
  background-color: #fff;
  padding: 2rem 3rem;
  max-width: var(--page-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rokkitt", serif;
  line-height: initial;
}
h1 {
  font-size: 6rem;
}

h2,
h3,
h5 {
  font-size: 2rem;
}
h2,
h3 {
  color: var(--red);
}
h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
h4 {
  font-size: 2.15rem;
  font-weight: 500;
}
p {
  font-size: 1.6rem;
}
a,
a:active,
a:focus,
a:visited {
  color: var(--body);
}
ul {
  list-style-position: inside;
  font-size: 1.6rem;
}
li {
  padding-left: 1.28571429em;
  text-indent: -1.28571429em;
}

/* HEADER */
header:first-of-type {
  padding-bottom: 2rem;
}
.cv__name > h2 {
  font-size: 3.6rem;
  line-height: 3rem;
}
.cv__address {
  margin-top: 1.5rem;
}

/* BACKGROUND COLOR */
.wrapper {
  background-color: var(--red);
}

/* SECTIONS */
.section__item {
  padding: 1rem 0;
}
.section__wrapper > .section__item:not(:last-child) {
  border-bottom: 2px dashed var(--grey-dash);
}
.section__wrapper > .section__item:first-child {
  padding-top: 0;
}
.section__item--title {
  margin-bottom: 0.25rem;
}
/* MENU */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--red);
}
.menu:last-child {
  padding-top: 1rem;
}
.menu > ul {
  list-style-type: none;
  line-height: 3.25rem;
}
.menu__item > a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Rokkitt", serif;
  font-weight: 600;
  line-height: 0;
}
.menu__item > a:hover,
.menu__item > a:focus,
.menu_item.active {
  text-decoration: underline;
}
.menu__burger {
  fill: #fff;
}

.menu__burger.closed + ul {
  display: none;
}
.menu__burger.open {
  width: 25px;
  height: 25px;
  background-image: url("../img/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
}
.menu__burger.open > svg {
  display: none;
}

/* UTILITIES */
h3 > br,
h4 > br {
  display: none;
}
.separator {
  white-space: nowrap;
  overflow: hidden;
  color: var(--red);
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  padding: 0 0 1rem 0;
}
.address {
  font-style: italic;
  font-size: 1.6rem;
}
.rounded {
  display: none;
  position: relative;
  height: 2rem;
}
.rounded > div {
  position: absolute;
  top: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--red);
}
.rounded > div > div {
  background-color: #fff;
  width: 3rem;
  height: 3rem;
}
.rounded__left {
  left: -2rem;
}
.rounded__left > div {
  border-radius: 2rem 0 0 0;
}
.rounded__right {
  right: -2rem;
}
.rounded__right > div {
  border-radius: 0 2rem 0 0;
}

/* MEDIAS QUERIES */
@media (min-width: 768px) {
  h3 {
    margin-bottom: 0;
  }
  h3 > br,
  h4 > br {
    display: initial;
  }
  /* SECTIONS */
  .section__item--title {
    margin-bottom: 0;
  }
  /* GRID */
  header:first-of-type,
  section,
  .col-2,
  .col-1-3,
  .col-1-4 {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  header {
    grid-template-columns: 53% auto;
  }
  .col-2 {
    grid-template-columns: 1fr 1fr;
  }

  .col-1-4 {
    grid-template-columns: 25% auto;
  }
  .col-1-3 {
    grid-template-columns: 35% auto;
  }
  .cv__address {
    align-self: end;
    margin-top: inherit;
  }
  /* UTILITIES */
  .separator {
    padding: 1rem 0;
  }
}
@media (min-width: 992px) {
  .wrapper {
    padding-top: 2.5rem;
  }
  /* MENU */
  .menu__burger {
    display: none;
  }
  .menu__burger.closed + ul,
  .menu__burger.open + ul {
    display: flex;
  }
  .menu {
    width: var(--page-width-lg);
    padding: 0 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu:last-child {
    padding-top: 1rem;
  }
  .menu > ul,
  .menu > ul {
    padding-top: 2rem;
    justify-content: space-between;
    line-height: inherit;
  }
  .menu__item > a {
    color: #fff;
    line-height: 0;
  }

  /* UTILITIES */
  .rounded {
    display: block;
  }
}
